@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="d-flex">
    <MudDrawer @bind-Open="_drawerOpen"
               Width="260px"
               Variant="DrawerVariant.Responsive"
               Elevation="0"
               Class="app-drawer d-block">
        <NavMenu />
    </MudDrawer>

    <MudMainContent Class="main-content d-block">
        <TopBar OnMenuClick="ToggleDrawer" _drawerOpen="_drawerOpen" />
        <MudContainer MaxWidth="MaxWidth.False" Style="overflow:auto" Class="flex-grow-1 app-body">
            <MudPaper Class="main-content pa-5">
                @Body
            </MudPaper>
        </MudContainer>
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool _drawerOpen = true;

    private void ToggleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }
}


