@using System.Globalization
<MudAppBar Elevation="0" Class="app-header" >
    <div>
        @if (!_drawerOpen)
        {
            <MudIconButton Icon="@Icons.Material.Filled.Menu"
                           Edge="Edge.Start"
                           OnClick="OnMenuClick" Style="color: black" />
        }
        else
        {
            <MudIconButton Icon="@Icons.Material.Filled.Close"
                           Edge="Edge.Start"
                           OnClick="OnMenuClick" Style="color: black" />
        }
    </div>

    <MudText Typo="Typo.button" Class="me-2 d-none d-md-inline" @Style="letter-spacing: 0.5px;">
        @_today
    </MudText>


    <div class="user-info">
        <MudText Typo="Typo.body1" Class="me-2">
            Phạm Anh Tuấn
        </MudText>

        <MudMenu Icon="@Icons.Material.Filled.AccountCircle" Style="font-weight: bold" Color="Color.Inherit" Edge="Edge.End">
            <MudMenuItem>Trang cá nhân</MudMenuItem>
            <MudMenuItem>Đổi nhà máy</MudMenuItem>
            <MudMenuItem OnClick="SignOut">Đăng xuất</MudMenuItem>
        </MudMenu>
    </div>
    
</MudAppBar>

@code {
    [Parameter] public EventCallback OnMenuClick { get; set; }
    [Parameter] public bool _drawerOpen { get; set; }

    private string _today { get; set; } = "";

    protected override void OnInitialized()
    {
        currentDate();
    }

    private void SignOut()
    {
        Nav.NavigateTo("/login");
    }

    private void currentDate()
    {
        var date = DateTime.Now.ToString(
        "dddd 'ngày' d 'tháng' M 'năm' yyyy",
        new CultureInfo("vi-VN"));

            _today = char.ToUpper(date[0]) + date.Substring(1);
    }
}
