﻿html body {
    height: 100vh
}
body {
    font-family: Arial, Helvetica, sans-serif;
}


.app-drawer {
    width: auto;
}

.sidebar-root {
    height: 100%;
}

.app-drawer .mud-container--gutters {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.sidebar-header {
    height: auto;
    padding: 12px 16px;
}

.app-header {
    height: 64px;
    background-color: #ffffff !important;
    border-bottom: 1px solid #eee;
    width: calc(100% - 500px);
    transition: margin-left 0.2s ease;
    color: black !important;
}

.app-body {
    background-color: #F5F5F5 !important;
    padding: 20px 24px !important;
    min-height: calc(100vh - 64px);
}

.mud-nav-item a.mud-nav-link {
    padding: 10px 25px !important;
}

.sidebar-root .mud-typography {
    font-weight: bold !important;
    color: #17506B !important;
    display: block !important;
    padding: 15px 10px !important;
}

.mud-nav-item a.mud-nav-link.active {
    border-left: 3px solid #594ae2 !important;
}


.mud-nav-item a.mud-nav-link.active .mud-nav-link-icon {
    color: #594ae2 !important;
}

.login-root {
    min-height: 100vh !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background: linear-gradient(135deg, #f5f7fa, #e4e8ee) !important;
}

.login-card {
    width: 380px !important;
    padding: 20px 28px !important;
    border-radius: 12px !important;
    background: #FFFFFF !important;
}

.mud-input fieldset {
    border-radius: 6px !important;
}

.btn-login {
    background-color: #17506B !important;
    color: #FFFFFF !important;
    font-weight: bold;
}

.btn-login:disabled {
    color: #FFFFFF !important;
    background-color: #F5F5F5 !important;
}

.btn-login:disabled:hover {
    cursor: not-allowed !important;
}

.mud-button-root {
    border-radius: 6px !important;
    padding: 10px !important;
    height: 45px !important;
}

.mud-input {
    height: 45px !important;
}