﻿html body {
    height: 100vh
}

.body-wrapper {
    flex: 1;
    background-color: #FAFAFA;
    padding: 30px 60px;
    overflow: auto;
}

.mud-nav-item a.mud-nav-link {
    padding: 10px 25px !important;
}

.side-bar .mud-typography {
    font-weight: bold !important;
    color: #17506B !important;
    display: block !important;
    padding: 15px 10px !important;
}

.mud-nav-item a.mud-nav-link.active {
    border-left: 3px solid #594ae2 !important;
}


.mud-nav-item a.mud-nav-link.active .mud-nav-link-icon {
    color: #594ae2 !important;
}
